.details_wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px #2b2d2f solid;
    border-radius: 20px;
}

.wrapper_title{
    position: absolute;
    background-color: #f8f8f8;
    top: -23px;
    left: 40px;
    padding: 0 10px;
    font-weight: bold;
}

.details_item{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 0;
}

.details_item label{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
    padding-left: 15px;
}

.details_item img{
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.details_item input{
    padding: 10px 15px;
    font-size: 15px;
    font-style: italic;
    border: 1px #2b2d2f solid;
    border-radius: 20px;
}

.details_item textarea {
    height: 120px;
    resize: none;
    font-size: 15px;
    font-style: italic;
    border: 1px #2b2d2f solid;
    border-radius: 20px;
    padding: 10px 15px;
}

.details_item_price{
    width: 75px;
}

.details_item_icon{
    position: absolute;
    top: 39px;
    left: 80px;
    font-size: 1rem;
}

.details_item_button{
    display: flex;
    justify-content: flex-end;
}

.product_btn_save{
    padding: 5px 10px;
    height: 40px;
    width: 160px;
    cursor: pointer;
    background-color: #2b2d2f;
    border: 1px solid #2b2d2f;
    border-radius: 25px;
    font-size: 1rem;
    color: #f8f8f8;
    transition: all .3s linear;
}

.product_btn_save:hover{
    background-color: #f8f8f8;
    color: #2b2d2f;
}

.product_btn_save:disabled{
    background-color: #f8f8f8;
    color: #2b2d2f;
    cursor:default;
}
